### Acknowledgement
This notebook contains material from the following resources:
1. https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html
2. https://www.w3schools.com/python/pandas/default.asp

## Data Cleaning
Data cleaning means fixing bad data in your data set.

Bad data could be:

1. Empty cells
2. Data in wrong format
3. Wrong data
4. Duplicates

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("dataset/dirtydata.csv")

In [6]:
data.head(10)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7       450  '2020/12/08'    104       134     253.3
8        30  '2020/12/09'    109       133     195.1
9        60  '2020/12/10'     98       124     269.0

In [7]:
data.shape

(32, 5)

In [45]:
print(data.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

The data set contains some empty cells ("Date" in row 22, and "Calories" in row 18 and 28).

The data set contains wrong format ("Date" in row 26).

The data set contains wrong data ("Duration" in row 7).

The data set contains duplicates (row 11 and 12).

### Info About the Data
The DataFrames object has a method called ``info()``, that gives you more information about the data set.

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
Duration    32 non-null int64
Date        31 non-null object
Pulse       32 non-null int64
Maxpulse    32 non-null int64
Calories    30 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.3+ KB

In [47]:
data.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

### Empty Cells
Empty cells can potentially give you a wrong result when you analyze data.

### 1. Remove Rows
One way to deal with empty cells is to remove rows that contain empty cells.

This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.

#### Dropna() 
The ``dropna()`` function is used to remove missing values. By default, the ``dropna()`` method returns a new DataFrame, and will not change the original. If you want to change the original DataFrame, use the ``inplace = True`` argument:

In [10]:
data.shape

(32, 5)

In [11]:
filtered_data = data.dropna()

In [13]:
data.shape

(32, 5)

In [15]:
filtered_data.shape

(29, 5)

In [17]:
data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [18]:
#Now, the dropna(inplace = True) will NOT return a new DataFrame, 
#but it will remove all rows containg NULL values from the original DataFrame.

data.dropna(inplace = True)

In [19]:
data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [49]:
data.shape

(29, 5)

In [50]:
new_df = data.dropna()

In [51]:
new_df.shape

(29, 5)

### 2. Replace Empty Values
Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The ```fillna()``` method allows us to replace empty cells with a value:

In [20]:
data = pd.read_csv('dataset/dirtydata.csv')

In [21]:
data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [22]:
#Replace NULL values with the number 130:


data.fillna(130, inplace = True)

In [23]:
data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     130.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           130    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     130.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

### Replace Only For a Specified Columns
The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:

In [35]:
df = pd.read_csv('dataset/dirtydata.csv')

In [36]:
df.Calories.fillna(130,inplace=True)

In [37]:
print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     130.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     130.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

### Replace Using Mean, Median, or Mode
A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the ``mean()`` ``median()`` and ``mode()`` methods to calculate the respective values for a specified column

#### 1. Computing Mean
Mean = the average value (the sum of all values divided by number of values).

In [38]:
df = pd.read_csv('dataset/dirtydata.csv')

In [44]:
df.Pulse.mean()

103.5

In [57]:
print(x)

375.79024390243916

#### 2. Computing Median
Median = the value in the middle, after you have sorted all values ascending.

In [58]:
df = pd.read_csv('dataset/data.csv')

x = df["Calories"].median()

print(x)

318.6

#### 3. Computing Mode
Mode = the value that appears most frequently.

In [51]:
df = pd.read_csv('dataset/dirtydata.csv')

x = df["Calories"].mode()

print(x)

0    300.0
dtype: float64

In [52]:
x[0]

300.0

In [49]:
df["Calories"].fillna(x[0],inplace=True)

In [50]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     291.2
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     291.2
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

### Data of Wrong Format
Cells with data of wrong format can make it difficult, or even impossible, to analyze data.

To fix it, you have two options: 
- remove the rows
- convert all cells in the columns into the same format

### Convert Into a Correct Format
In our Data Frame, we have two cells with the wrong format. Check out row 22 and 26, the 'Date' column should be a string that represents a date:

In [58]:
data = pd.read_csv("dataset/dirtydata.csv")

In [59]:
data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [55]:
data.shape

(32, 5)

In [60]:
data['Date'] = pd.to_datetime(data['Date'])

In [61]:
data

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

Let's try to convert all cells in the 'Date' column into dates.

Pandas has a ``to_datetime()`` method for this:

In [65]:
data['NewDate'] = pd.to_datetime(data['Date'])

### Drop Column
``drop`` method in Pandas can be used to remove a column. ``Axis=1`` specifies that the column needs to be removed.

In [67]:
data.drop('NewDate',axis=1,inplace=True)

In [68]:
data

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

As you can see from the result, the date in row 26 was fixed, but the empty date in row 22 got a NaT (Not a Time) value, in other words an empty value. One way to deal with empty values is simply removing the entire row.

In [98]:
data.dropna(inplace=True)

In [99]:
data.shape

(29, 5)

### Wrong Data
"Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".

Sometimes you can spot wrong data by looking at the data set, because you have an expectation of what it should be.

If you take a look at our data set, you can see that in row 7, the duration is 450, but for all the other rows the duration is between 30 and 60.

It doesn't have to be wrong, but taking in consideration that this is the data set of someone's workout sessions, we conclude with the fact that this person did not work out in 450 minutes.

### Replacing Values
One way to fix wrong values is to replace them with something else.

In our example, it is most likely a typo, and the value should be "45" instead of "450", and we could just insert "45" in row 7:

In [68]:
data

    Duration          Date  Pulse  Maxpulse  Calories    NewDate
0         60  '2020/12/01'    110       130     409.1 2020-12-01
1         60  '2020/12/02'    117       145     479.0 2020-12-02
2         60  '2020/12/03'    103       135     340.0 2020-12-03
3         45  '2020/12/04'    109       175     282.4 2020-12-04
4         45  '2020/12/05'    117       148     406.0 2020-12-05
5         60  '2020/12/06'    102       127     300.0 2020-12-06
6         60  '2020/12/07'    110       136     374.0 2020-12-07
7        450  '2020/12/08'    104       134     253.3 2020-12-08
8         30  '2020/12/09'    109       133     195.1 2020-12-09
9         60  '2020/12/10'     98       124     269.0 2020-12-10
10        60  '2020/12/11'    103       147     329.3 2020-12-11
11        60  '2020/12/12'    100       120     250.7 2020-12-12
12        60  '2020/12/12'    100       120     250.7 2020-12-12
13        60  '2020/12/13'    106       128     345.3 2020-12-13
14        60  '2020/12/14'    104       132     379.3 2020-12-14
15        60  '2020/12/15'     98       123     275.0 2020-12-15
16        60  '2020/12/16'     98       120     215.2 2020-12-16
17        60  '2020/12/17'    100       120     300.0 2020-12-17
19        60  '2020/12/19'    103       123     323.0 2020-12-19
20        45  '2020/12/20'     97       125     243.0 2020-12-20
21        60  '2020/12/21'    108       131     364.2 2020-12-21
23        60  '2020/12/23'    130       101     300.0 2020-12-23
24        45  '2020/12/24'    105       132     246.0 2020-12-24
25        60  '2020/12/25'    102       126     334.5 2020-12-25
26        60      20201226    100       120     250.0 2020-12-26
27        60  '2020/12/27'     92       118     241.0 2020-12-27
29        60  '2020/12/29'    100       132     280.0 2020-12-29
30        60  '2020/12/30'    102       129     380.3 2020-12-30
31        60  '2020/12/31'     92       115     243.0 2020-12-31

In [70]:
data.loc[7,"Duration"] = 45

In [71]:
data

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [89]:
data

    Duration          Date  Pulse  Maxpulse  Calories    NewDate
0         60  '2020/12/01'    110       130     409.1 2020-12-01
1         60  '2020/12/02'    117       145     479.0 2020-12-02
2         60  '2020/12/03'    103       135     340.0 2020-12-03
3         45  '2020/12/04'    109       175     282.4 2020-12-04
4         45  '2020/12/05'    117       148     406.0 2020-12-05
5         60  '2020/12/06'    102       127     300.0 2020-12-06
6         60  '2020/12/07'    110       136     374.0 2020-12-07
7         45  '2020/12/08'    104       134     253.3 2020-12-08
8         30  '2020/12/09'    109       133     195.1 2020-12-09
9         60  '2020/12/10'     98       124     269.0 2020-12-10
10        60  '2020/12/11'    103       147     329.3 2020-12-11
11        60  '2020/12/12'    100       120     250.7 2020-12-12
12        60  '2020/12/12'    100       120     250.7 2020-12-12
13        60  '2020/12/13'    106       128     345.3 2020-12-13
14        60  '2020/12/14'    104       132     379.3 2020-12-14
15        60  '2020/12/15'     98       123     275.0 2020-12-15
16        60  '2020/12/16'     98       120     215.2 2020-12-16
17        60  '2020/12/17'    100       120     300.0 2020-12-17
19        60  '2020/12/19'    103       123     323.0 2020-12-19
20        45  '2020/12/20'     97       125     243.0 2020-12-20
21        60  '2020/12/21'    108       131     364.2 2020-12-21
23        60  '2020/12/23'    130       101     300.0 2020-12-23
24        45  '2020/12/24'    105       132     246.0 2020-12-24
25        60  '2020/12/25'    102       126     334.5 2020-12-25
26        60      20201226    100       120     250.0 2020-12-26
27        60  '2020/12/27'     92       118     241.0 2020-12-27
29        60  '2020/12/29'    100       132     280.0 2020-12-29
30        60  '2020/12/30'    102       129     380.3 2020-12-30
31        60  '2020/12/31'     92       115     243.0 2020-12-31

For small data sets you might be able to replace the wrong data one by one, but not for big data sets.

To replace wrong data for larger data sets you can create some rules, e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries.

In [86]:
for index in data.index:
    if data.loc[index,"Duration"] > 120:
        data.loc[index,"Duration"] = 120

In [87]:
data

    Duration          Date  Pulse  Maxpulse  Calories    NewDate
0         60  '2020/12/01'    110       130     409.1 2020-12-01
1         60  '2020/12/02'    117       145     479.0 2020-12-02
2         60  '2020/12/03'    103       135     340.0 2020-12-03
3         45  '2020/12/04'    109       175     282.4 2020-12-04
4         45  '2020/12/05'    117       148     406.0 2020-12-05
5         60  '2020/12/06'    102       127     300.0 2020-12-06
6         60  '2020/12/07'    110       136     374.0 2020-12-07
7        120  '2020/12/08'    104       134     253.3 2020-12-08
8         30  '2020/12/09'    109       133     195.1 2020-12-09
9         60  '2020/12/10'     98       124     269.0 2020-12-10
10        60  '2020/12/11'    103       147     329.3 2020-12-11
11        60  '2020/12/12'    100       120     250.7 2020-12-12
12        60  '2020/12/12'    100       120     250.7 2020-12-12
13        60  '2020/12/13'    106       128     345.3 2020-12-13
14        60  '2020/12/14'    104       132     379.3 2020-12-14
15        60  '2020/12/15'     98       123     275.0 2020-12-15
16        60  '2020/12/16'     98       120     215.2 2020-12-16
17        60  '2020/12/17'    100       120     300.0 2020-12-17
19        60  '2020/12/19'    103       123     323.0 2020-12-19
20        45  '2020/12/20'     97       125     243.0 2020-12-20
21        60  '2020/12/21'    108       131     364.2 2020-12-21
23        60  '2020/12/23'    130       101     300.0 2020-12-23
24        45  '2020/12/24'    105       132     246.0 2020-12-24
25        60  '2020/12/25'    102       126     334.5 2020-12-25
26        60      20201226    100       120     250.0 2020-12-26
27        60  '2020/12/27'     92       118     241.0 2020-12-27
29        60  '2020/12/29'    100       132     280.0 2020-12-29
30        60  '2020/12/30'    102       129     380.3 2020-12-30
31        60  '2020/12/31'     92       115     243.0 2020-12-31

### Removing Rows
Another way of handling wrong data is to remove the rows that contains wrong data.

This way you do not have to find out what to replace them with, and there is a good chance you do not need them to do your analyses.

In [72]:
data.drop(7,inplace=True)

In [73]:
data

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [90]:
data.loc[7,"Duration"] = 450

In [91]:
data

    Duration          Date  Pulse  Maxpulse  Calories    NewDate
0         60  '2020/12/01'    110       130     409.1 2020-12-01
1         60  '2020/12/02'    117       145     479.0 2020-12-02
2         60  '2020/12/03'    103       135     340.0 2020-12-03
3         45  '2020/12/04'    109       175     282.4 2020-12-04
4         45  '2020/12/05'    117       148     406.0 2020-12-05
5         60  '2020/12/06'    102       127     300.0 2020-12-06
6         60  '2020/12/07'    110       136     374.0 2020-12-07
7        450  '2020/12/08'    104       134     253.3 2020-12-08
8         30  '2020/12/09'    109       133     195.1 2020-12-09
9         60  '2020/12/10'     98       124     269.0 2020-12-10
10        60  '2020/12/11'    103       147     329.3 2020-12-11
11        60  '2020/12/12'    100       120     250.7 2020-12-12
12        60  '2020/12/12'    100       120     250.7 2020-12-12
13        60  '2020/12/13'    106       128     345.3 2020-12-13
14        60  '2020/12/14'    104       132     379.3 2020-12-14
15        60  '2020/12/15'     98       123     275.0 2020-12-15
16        60  '2020/12/16'     98       120     215.2 2020-12-16
17        60  '2020/12/17'    100       120     300.0 2020-12-17
19        60  '2020/12/19'    103       123     323.0 2020-12-19
20        45  '2020/12/20'     97       125     243.0 2020-12-20
21        60  '2020/12/21'    108       131     364.2 2020-12-21
23        60  '2020/12/23'    130       101     300.0 2020-12-23
24        45  '2020/12/24'    105       132     246.0 2020-12-24
25        60  '2020/12/25'    102       126     334.5 2020-12-25
26        60      20201226    100       120     250.0 2020-12-26
27        60  '2020/12/27'     92       118     241.0 2020-12-27
29        60  '2020/12/29'    100       132     280.0 2020-12-29
30        60  '2020/12/30'    102       129     380.3 2020-12-30
31        60  '2020/12/31'     92       115     243.0 2020-12-31

In [100]:
#Delete rows where "Duration" is higher than 120:

for x in data.index:
    if data.loc[x, "Duration"] > 60:
        data.drop(x, inplace = True)

In [101]:
data.shape

(28, 5)

In [102]:
data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

### Pandas - Removing Duplicates
Duplicate rows are rows that have been registered more than one time.
To discover duplicates, we can use the ``duplicated()`` method.

The duplicated() method returns a Boolean values for each row. Returns True for every row that is a duplicate, othwerwise False:

In [74]:
data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

To remove duplicates, use the ``drop_duplicates()`` method.

In [75]:
data.drop_duplicates(inplace=True)

In [76]:
data

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [106]:
data['Date'] = pd.to_datetime(data['Date'])